{% extends 'base.html.twig' %}

{% block title %}Piece index{% endblock %}

{% block body %}
<h1>Gestion des pièces</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Designation</th>
            <th>PuAchatHt</th>
            <th>PuVenteHt</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for piece in pieces %}
        <tr>
            <td>{{ piece.id }}</td>
            <td>{{ piece.designation }}</td>
            <td>{{ piece.puAchatHt }}</td>
            <td>{{ piece.puVenteHt }}</td>
            <td>
                <a href="{{ path('app_piece_show', {'id': piece.id}) }}">show</a>
                <a href="{{ path('app_piece_edit', {'id': piece.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_piece_new') }}">Create new</a>
{% endblock %}