{% extends 'base.html.twig' %}

{% block title %}Piece{% endblock %}

{% block body %}
    <h1>Piece</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ piece.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ piece.designation }}</td>
            </tr>
            <tr>
                <th>PuAchatHt</th>
                <td>{{ piece.puAchatHt }}</td>
            </tr>
            <tr>
                <th>PuVenteHt</th>
                <td>{{ piece.puVenteHt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_piece_index') }}">back to list</a>

    <a href="{{ path('app_piece_edit', {'id': piece.id}) }}">edit</a>

    {{ include('piece/_delete_form.html.twig') }}
{% endblock %}
