{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
    <h1>Intervention</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervention.id }}</td>
            </tr>
            <tr>
                <th>DateIntervention</th>
                <td>{{ intervention.dateIntervention ? intervention.dateIntervention|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ActionEffectuee</th>
                <td>{{ intervention.actionEffectuee }}</td>
            </tr>
            <tr>
                <th>TempsPasse</th>
                <td>{{ intervention.tempsPasse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_intervention_index') }}">back to list</a>

    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">edit</a>

    {{ include('intervention/_delete_form.html.twig') }}
{% endblock %}
