{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
<h1>Ticket</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ ticket.id }}</td>
        </tr>
        <tr>
            <th>DateCreation</th>
            <td>{{ ticket.dateCreation ? ticket.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ ticket.description }}</td>
        </tr>
    </tbody>
</table>
<a href="{{ path('app_ticket_index') }}">back to list</a>

<a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">edit</a>

{{ include('ticket/_delete_form.html.twig') }}
<h2>Interventions</h2>
<a class="btn btn-success" href="{{ path('app_intervention_new_by_ticket', {'id': ticket.id}) }}">+</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>DateIntervention</th>
            <th>ActionEffectuee</th>
            <th>TempsPasse</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for intervention in interventions %}
        <tr>
            <td>{{ intervention.id }}</td>
            <td>{{ intervention.dateIntervention ? intervention.dateIntervention|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ intervention.actionEffectuee }}</td>
            <td>{{ intervention.tempsPasse }}</td>
            <td>
                <a href="{{ path('app_intervention_show', {'id': intervention.id}) }}">show</a>
                <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}