{% extends 'base.html.twig' %}

{% block title %}Statut index{% endblock %}

{% block body %}
<h1>Gestion des statuts</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Libelle</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for statut in statuts %}
        <tr>
            <td>{{ statut.id }}</td>
            <td>{{ statut.libelle }}</td>
            <td>
                <a href="{{ path('app_statut_show', {'id': statut.id}) }}">show</a>
                <a href="{{ path('app_statut_edit', {'id': statut.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_statut_new') }}">Create new</a>
{% endblock %}